<div class="back">
  <button routerLink="" class="btn btn-primary">Back</button>
</div>
<h2>Official Details</h2>

<table class="table">
  <thead>
    <tr>
      <th>NO</th>
      <th>Employee ID</th>
      <th>Department</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of officialDetails">
      <td>{{ employee.index }}</td>
      <td>{{ employee.employeeId }}</td>
      <td>{{ employee.department }}</td>
      <td>{{ employee.position }}</td>
    </tr>
  </tbody>
</table>
