<h1>our Employee details</h1>
<hr />

<div class="container">
  <div class="image-container">
    <img
      style="text-align: center; margin: auto"
      width="700px"
      src="https://media.licdn.com/dms/image/D4D12AQEm1WlqnY2RYw/article-cover_image-shrink_600_2000/0/1683220071459?e=2147483647&v=beta&t=fkiEXNJMDMlbT3dDezUlgLCp5qoqxEBKHg1GDLCI-mk"
      alt="Image"
    />
  </div>
</div>
<div class="buttons">
  <button class="btn btn-warning" routerLink="personal-details">
    PERSONAL DETAILS
  </button>
  <button class="btn btn-success" routerLink="official-details">
    OFFICIAL DETAILS
  </button>
</div>
